a {
    width: min-content;
    align-self: end;
}

body {
    background-color: #3E5661;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h5 {
    color: #41A7DA;
    font-size: 24px;
    text-align: center;
}

.container {
    background-color: white;
    width: 500px;
    padding: 50px;
    border-top: 10px solid #41A7DA;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 590px) {
    .container {
        width: 80%;
    }
}

.inner-container {
    background-color: #F5FBF8;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-item > label {
    color: #9AA8B4;
    font-size: 14px;
}

.form-item > input, .password-container > input {
    border: 1px solid #C8D4DA;
    background-color: white;
    padding: 13px;
    font-size: 14px;
    color: black;
    outline: none;
    width: 100%;
}

.submit-button {
    background-color: #52BE7F;
    color: white;
    font-size: 14px;
    padding: 10px;
    border: 0;
    cursor: pointer;
    width: 100px;
}

.submit-button:hover {
    background-color: #3b885f;
}

.password-container {
    position: relative;
    width: 100%;
}

#toggle-password {
    font-size: 24px;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #9AA8B4;
    width: min-content;
    height: min-content;
    transition: all 0.2s ease-in-out;
    position: absolute;
    right: 10px;
    top: 9px;
}

#toggle-password:hover {
    color: #41A7DA;
}

